$bgCol : rgb(200,255,120);
$textCol: rgba(0,0,0.0,.75);
$suits: hearts clubs spades diamonds;
$ranks: "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13";
$cardBaseWidth: 180px;
$cardRatio: 1.15;

body {
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
  background: $bgCol;
  color: $textCol;
}

#table {
  height: calc(100vw/3.5);
  position: relative;
}

button {
  font-size: 1.2rem;
  width: 7em;
  height: 3em;
}

#btn_continue {
  display:block;
  margin:auto auto;
}

.hand {
  min-width: 300px;
  // width:80%; 
  padding:0 1%;
  margin:0 auto;
}

.card {
  display: inline-block;
  position: relative;
  margin:1%;
  width: 15%;
  
  &:first-child {
    margin-left:10%;
  }
  
  &::after{
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    content: "";
    background-size: cover;
    padding-bottom: 136%;
  }

  /*
  Iterate the suits & ranks lists to generate a class 
  for each card in the deck with {suit}-{rank}.jpg background img
  Generating the src links at compile time means they get picked up by 
  parcel and the assets are moved into the dist folder.
  */
  @each $suit in $suits {
    @each $rank in $ranks {
      &.#{$suit}-#{unquote($rank)}::after {
        background-image: url('images/cards/#{$suit}_#{unquote($rank)}.jpg');
      }

      &.flipped.#{$suit}-#{unquote($rank)}::after{
        background-image: url('images/cards/back.jpg')
      }
    }
  }
}