$bgCol : rgb(200,255,120);
$textCol: rgba(0,0,0.0,.75);
$suits: hearts clubs spades diamonds;
$ranks: "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13";

:root {
  --card-base-width: 120px;
  --card-ratio: 1.35;
  --table-height: calc(var(--card-base-width)*2)
}

@media all and (max-width: 500px) {
  :root {
    --card-base-width: 65px;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  :root {
    --card-base-width: 85px;
  }
}

@media all and (min-width: 900px) {
  :root {
    --card-base-width: 160px;
  }
}

body {
  padding:0;
  margin:0;
  min-height: 100vh;
  width: 100%;
  min-width: 350px;
  background: $bgCol;
  color: $textCol;
}

#table {
  height: var(--table-height);
}

button {
  font-size: 1.1rem;
  width: 7em;
  height: 3em;
  margin-top:10px;
}

#btn_continue {
  display:block;
  margin:auto auto;
}

.hand { 
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  margin:0 auto 0 auto;
  padding:20px 0;
}

.card, .card .front, .card .back {
  width: var(--card-base-width);
  height: calc(var(--card-base-width)*var(--card-ratio));
}

.card {
  margin-right:5px;
  margin-top: -250px;
  perspective: 1000px;

  &:first-child {
    margin-left: 5px;
  }

  .inner {
    transition: 0.6s;
	  transform-style: preserve-3d;
    position: relative;
        
    .front, .back {
      backface-visibility: hidden;  
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
    };

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }
    
    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
      background-image: url('images/cards/back.jpg');
    }
  }
  
  &.faceup .inner {
    transform: rotateY(180deg);
  }

    
  


  // background-size: cover;

  /*
  Iterate the suits & ranks lists to generate a class 
  for each card in the deck with {suit}-{rank}.jpg background img
  Generating the src links at compile time means they get picked up by 
  parcel and the assets are moved into the dist folder.
  */
  @each $suit in $suits {
    @each $rank in $ranks {
      &.#{$suit}-#{unquote($rank)} .front {
        background-image: url('images/cards/#{$suit}_#{unquote($rank)}.jpg');
      };
    }
  }
}