$bgCol : #fff;
$tableCol: #fff;
$textCol: rgba(0,0,0.0,.75);
$suits: hearts clubs spades diamonds;
$ranks: "01" "11" "12" "13";
// $ranks: "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13";
$minWidth: 360px;

:root {
  --card-base-width: 120px;
  --card-ratio: 1.35;
  --card-height: calc(var(--card-base-width) * var(--card-ratio));
  --table-padding: calc(1px + var(--card-height)/1.5);
  --table-height: calc(var(--card-height) + (var(--table-padding) * 2));
}

/*
* Box model reset 
*/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@media all and (max-width: 500px) {
  :root {
    --card-base-width: 65px;
    font-size: 90%;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  :root {
    --card-base-width: 85px;
  }
}

@media all and (min-width: 900px) {
  :root {
    --card-base-width: 160px;
  }
}