/* Nav */
nav button {
  font-size: 1.1rem;
  width: 7em;
  height: 3em;
  margin-top:10px;
  &.prev {
    border-radius: 8px 0 0px 8px;
  }
  &.next {
    border-radius: 0 8px 8px 0;
  }
  &:hover:enabled { 
    box-shadow: 3px 2px 8px rgba(0,0,0,.2);
    cursor: pointer;
  }  
}